 /* .App {
  width :'100%'
} */

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-content {
  background-color: rgba(245, 245, 245, 0.808);
  min-height: 90vh;
  display: flex; 
  flex-direction: row; 
  align-items: flex-start; 
  justify-content: flex-start;
  margin: 1%;
  padding: 1%;
  font-size: calc(10px + 1vmin);
  color: rgb(24, 23, 23);
}
.App-link {
  color: #61dafb;
}

.inline-child-a {
  display: inline-block;
}

.inline-child-b {
  display: inline-block;
}

.inline-childwithBorder-a {
  display: inline-block;
  width: 200px;
  padding: 10px;
  position: relative;
  height: 200px; 
  font-size: 15px;
}

.inline-childwithBorder-b {
  display: inline-block;
  width: 220px;
  padding: 10px;
  padding-right: 0px;
  font-size: 15px;
  position: absolute;

  /* height: 200px; */
  /* background-color: rgb(235, 231, 231); */
/* } */ 

/* .App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(24, 23, 23);
} */

/* .hr {
  display: flex;
  height: '20%';
} */